.c-button {
    --tint: var(--surface-inverted-1);
    --contrast: var(--text-inverted-1);

    align-items: center;
    border-radius: var(--radius-2);
    color: var(--tint);
    cursor: pointer;
    display: inline-flex;
    gap: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    position: relative;

    @media (prefers-reduced-motion: no-preference) {
        transition: background-color 0.3s var(--ease-1), color 0.3s var(--ease-1), opacity 0.3s var(--ease-1);
    }

    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }

    &[type='submit'] {
        --tint: var(--brand);
    }

    &:hover {
        &::after {
            opacity: 0.1;
        }
    }

    &:active {
        &::after {
            opacity: 0.2;
        }
    }

    &.c-button--solid {
        background-color: var(--tint);
        color: var(--contrast);

        &:hover {
            &::after {
                opacity: 0.2;
            }
        }

        &:active {
            &::after {
                opacity: 0.4;
            }
        }

        &::after {
            background-color: var(--contrast);
        }

        .c-button__loading-indicator {
            background-color: var(--contrast);
        }
    }

    &.c-button--outline {
        border: var(--border-size-1) solid var(--surface-4);
    }

    &.c-button--color-red {
        color: var(--red-5);
    }

    &.c-button--color-green {
        color: var(--green-5);
    }

    &.c-button--is-loading {
        cursor: wait;
    }

    &.c-button--active {
        text-decoration: underline;
    }

    &:focus-visible {
        outline: 2px solid var(--tint);
        outline-offset: 2px;
    }

    &::after {
        background-color: var(--tint);
        border-radius: inherit;
        content: '';
        inset: 0;
        opacity: 0;
        position: absolute;
        transition: opacity 0.2s ease-in-out;
    }

    .c-button__loading-indicator {
        animation: var(--animation-blink);
        background-color: var(--tint);
        border-radius: 50%;
        height: 0.5rem;
        width: 0.5rem;
    }
}
