<header>
    <h1>{{ title() }}</h1>
    <demo-color-scheme-switch></demo-color-scheme-switch>
</header>

<main>
    <aside class="card">
        <form>
            <fieldset class="control-group">
                <legend>State</legend>
                <label>
                    <input
                        #disabledControl
                        type="checkbox"
                        (change)="disabled.set(disabledControl.checked); oldButton.disabled = disabledControl.checked"
                    />
                    Disabled
                </label>
                <label>
                    <input
                        #loadingControl
                        type="checkbox"
                        (change)="loading.set(loadingControl.checked); oldButton.loading = loadingControl.checked"
                    />
                    Loading
                </label>
            </fieldset>

            <fieldset>
                <legend>Type</legend>
                <label>
                    <input
                        type="radio"
                        name="type"
                        [checked]="button.type() === 'button'"
                        (change)="button.type.set('button'); oldButton.type = 'button'"
                    />
                    Button
                </label>
                <label>
                    <input
                        type="radio"
                        name="type"
                        [checked]="button.type() === 'submit'"
                        (change)="button.type.set('submit'); oldButton.type = 'submit'"
                    />
                    Submit
                </label>
            </fieldset>

            <fieldset>
                <legend>Appearance</legend>
                <label>
                    <input
                        type="radio"
                        name="appearance"
                        [checked]="!appearance()"
                        (change)="appearance.set(undefined); oldButton.appearance = undefined"
                    />
                    Default
                </label>
                <label>
                    <input
                        type="radio"
                        name="appearance"
                        [checked]="appearance() === 'outline'"
                        (change)="appearance.set('outline'); oldButton.appearance = 'outline'"
                    />
                    Outline
                </label>
                <label>
                    <input
                        type="radio"
                        name="appearance"
                        [checked]="appearance() === 'solid'"
                        (change)="appearance.set('solid'); oldButton.appearance = 'solid'"
                    />
                    Solid
                </label>
            </fieldset>

            <fieldset>
                <legend>Color</legend>
                <label>
                    <input
                        type="radio"
                        name="appearance"
                        [checked]="!color()"
                        (change)="color.set(undefined); oldButton.color = undefined"
                    />
                    Default
                </label>
                <label>
                    <input
                        type="radio"
                        name="appearance"
                        [checked]="color() === 'red'"
                        (change)="color.set('red'); oldButton.color = 'red'"
                    />
                    Red
                </label>
                <label>
                    <input
                        type="radio"
                        name="appearance"
                        [checked]="color() === 'green'"
                        (change)="color.set('green'); oldButton.color = 'green'"
                    />
                    Green
                </label>
            </fieldset>
        </form>
    </aside>

    <div class="card output">
        <header>
            <h2>Old</h2>
            <p>
                Using plain Angular APIs (<a
                    href="https://github.com/bynaryDE/angular-extensions/blob/main/apps/demo/src/app/components/old-button/old-button.component.ts"
                    target="_blank"
                    >code</a
                >)
            </p>
        </header>
        <demo-old-button
            #oldButton
            type="submit"
            [disabled]="disabled()"
            [loading]="loading()"
            [appearance]="appearance()"
            [color]="color()"
            (click)="incrementCounter()"
        >
            Button
        </demo-old-button>
    </div>

    <div class="card output">
        <header>
            <h2>New</h2>
            <p>
                Using <strong>&#64;bynary/composables</strong> (<a
                    href="https://github.com/bynaryDE/angular-extensions/blob/main/apps/demo/src/app/components/button/button.component.ts"
                    target="_blank"
                    >code</a
                >)
            </p>
        </header>
        <demo-button
            #button
            type="submit"
            [disabled]="disabled()"
            [loading]="loading()"
            [appearance]="appearance()"
            [color]="color()"
            (click)="incrementCounter()"
        >
            Button
        </demo-button>
    </div>
</main>
